# zchat server environment variables

# Service registration
ZCHAT_ADVERTISE_HOST=

# MySQL
MYSQL_ROOT_PASSWORD_FILE=./server/secrets/mysql_root_password
MYSQL_DATABASE=zchat
MYSQL_USER=
MYSQL_PASSWORD_FILE=./server/secrets/mysql_password
ZCHAT_MYSQL_HOST=127.0.0.1
ZCHAT_MYSQL_PORT=3306
ZCHAT_MYSQL_PUBLISHED_PORT=3306

# Redis
ZCHAT_REDIS_HOST=127.0.0.1
ZCHAT_REDIS_PORT=6379
ZCHAT_REDIS_PASSWORD_FILE=./server/secrets/redis_password
ZCHAT_REDIS_PUBLISHED_PORT=6379

# etcd
ZCHAT_ETCD_HOST=127.0.0.1
ZCHAT_ETCD_PORT=2379
ZCHAT_ETCD_USERNAME=
ZCHAT_ETCD_PASSWORD_FILE=./server/secrets/etcd_password
ZCHAT_ETCD_CLIENT_PUBLISHED_PORT=2379
ZCHAT_ETCD_PEER_PUBLISHED_PORT=2380

# Baidu Speech (ASR)
ZCHAT_SPEECH_APP_ID=
ZCHAT_SPEECH_API_KEY_FILE=./server/secrets/speech_api_key
ZCHAT_SPEECH_SECRET_KEY_FILE=./server/secrets/speech_secret_key

# Elasticsearch
ZCHAT_ES_HOST=127.0.0.1
ZCHAT_ES_PORT=9200
ZCHAT_ELASTICSEARCH_USER=
ZCHAT_ELASTICSEARCH_PASSWORD_FILE=./server/secrets/elasticsearch_password
ZCHAT_ES_PUBLISHED_PORT=9200

# RabbitMQ
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS_FILE=./server/secrets/rabbitmq_default_pass
ZCHAT_RABBITMQ_HOST=127.0.0.1
ZCHAT_RABBITMQ_PORT=5672
ZCHAT_RABBITMQ_PUBLISHED_PORT=5672
ZCHAT_RABBITMQ_MANAGEMENT_PUBLISHED_PORT=15672

# zchat service ports
ZCHAT_SPEECH_SERVICE_PORT=10001
ZCHAT_FILE_SERVICE_PORT=10002
ZCHAT_USER_SERVICE_PORT=10003
ZCHAT_TRANSMITE_SERVICE_PORT=10004
ZCHAT_MESSAGE_SERVICE_PORT=10005
ZCHAT_FRIEND_SERVICE_PORT=10006
ZCHAT_GATEWAY_HTTP_PORT=8000
ZCHAT_GATEWAY_WEBSOCKET_PORT=8001
ZCHAT_GATEWAY_HTTP_PUBLISHED_PORT=8000
ZCHAT_GATEWAY_WEBSOCKET_PUBLISHED_PORT=8001

# Alibaba Cloud SMS Authentication
ZCHAT_SMS_ACCESS_KEY_ID_FILE=./server/secrets/sms_access_key_id
ZCHAT_SMS_ACCESS_KEY_SECRET_FILE=./server/secrets/sms_access_key_secret
ZCHAT_SMS_SIGN_NAME=
ZCHAT_SMS_TEMPLATE_CODE=
