# zchat server environment variables

# Service registration
ZCHAT_ADVERTISE_HOST=

# MySQL
ZCHAT_MYSQL_HOST=
ZCHAT_MYSQL_USER=
ZCHAT_MYSQL_PASSWORD=

# Redis
ZCHAT_REDIS_HOST=
ZCHAT_REDIS_PASSWORD=

# etcd
ZCHAT_ETCD_HOST=
ZCHAT_ETCD_USERNAME=
ZCHAT_ETCD_PASSWORD=

# Baidu Speech (ASR)
ZCHAT_SPEECH_APP_ID=
ZCHAT_SPEECH_API_KEY=
ZCHAT_SPEECH_SECRET_KEY=

# Elasticsearch
ZCHAT_ES_HOST=
ZCHAT_ELASTICSEARCH_USER=
ZCHAT_ELASTICSEARCH_PASSWORD=

# RabbitMQ
ZCHAT_RABBITMQ_HOST=
ZCHAT_RABBITMQ_USER=
ZCHAT_RABBITMQ_PASSWORD=

# Alibaba Cloud SMS Authentication
ZCHAT_SMS_ACCESS_KEY_ID=
ZCHAT_SMS_ACCESS_KEY_SECRET=
ZCHAT_SMS_SIGN_NAME=
ZCHAT_SMS_TEMPLATE_CODE=
